header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  justify-content:space-between;
  align-items:center;
  padding-bottom: 7px;
}

.navigation {
align-items:center;
padding:0px 10px;
}

.navigation a {
  color:black;
}

.headerlogo {
  display: inline-flex;
  align-items:center;
}

#headerparagraph {
  color:MediumAquamarine;
}

#headerlogo {
  padding-right: 7px;
}
