header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  justify-content:space-between;
  align-items:center;
  padding-bottom: 7px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

footer {
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: MediumAquamarine;
  height:250px;
  margin: auto;
}

.footlogo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 10px;
  margin-right:10px;
}

.footnav {
  font-family: Verdana;
  font-size: 12px;
  padding:0 15px;
}

.imageheading {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.fillimage {
  display:flex;
  align-items:center;
}

.blue {
  border: 5px solid blue;
}

.navigation {
align-items:center;
padding:0px 10px;
}

span a {
  color:black;
}

.headerlogo {
  display: inline-flex;
  align-items:center;
}

.newscolumns {
  display:flex;
  justify-content:space-between;
  margin:50px auto;
  max-width:1350px;
}

.leftcolumn {
  display:flex;
  flex-flow: row wrap;
  width:630px;
  justify-content:space-between;
}

.middlecolumn {
  display:flex;
  flex-flow: column wrap;
  width:300px;
}

.rightcolumn {
  display:flex;
  flex-flow: column wrap;
  width:240px;
}

.colone {
  width:299px;
  height:300px;
}

.newsbites h6 {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding:10px;
  font-weight:normal;
  margin:0px;
}

#headerparagraph {
  color:MediumAquamarine;
}

#headerlogo {
  padding-right: 7px;
}

#mainimageheading {
  font-size:40px;
}

#first {
  background-image: url("../pictures/img-story-main.png");
  height:300px;
}

#second {
  background-image: url("../pictures/img-story-2.png");
  width:299px;
  height:300px;
}

#third {
  background-image: url("../pictures/img-story-3.png");
  width:299px;
  height:300px;
}

#fourth {
    background-image: url("../pictures/img-story-1.png");
    width:299px;
    height:300px;
}

#fifth {
  background-image: url("../pictures/img-news-bite.png");
  width:239px;
  height:239px;
}

#newsbites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#footdiv {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
  align-items:center;
  width:400px;
  height:100px;
}
